[Unit]
Description=Check SakuraChat images every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=30s
Unit=sakura-update.service

[Install]
WantedBy=timers.target
